.container {
  background-image: url('../common/image/025 Wild Apple.png');
}

.login_page{
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex; */
  justify-content: center;
  user-select: none;
  text-align: center;
  max-width: 400px;
  padding: 8% 0 0;
  margin: auto;
}

.login_form{
  align-items: center;
  height: 450px;
  border: rgb(186, 161, 161);
  border-style: double;
  background-color: whitesmoke;
}

.login_form:hover {
  -webkit-box-shadow: 0px 0px 16px 6px rgba(122, 107, 107, 0.87); 
box-shadow: 0px 0px 16px 6px rgba(123, 102, 102, 0.87);
}

.form h1{
  font-size: 3rem;
}

.form hr {
  width: 50%;
  margin: auto;
  padding: 5px;
  background-color:#f0dad0;
  border: none;
  border-radius: 30px;
}

.form input{
  width: 90%;
  padding: 1rem;
  margin: 20px 0px;
  border: none;
  border-bottom: 2px solid rgb(219, 181, 194);
  font-size: 1.3rem;
  background: transparent;
  outline: none;
}

.form button{
  padding: 1rem 3rem;
  font-size: 1.2rem;
  background-color: #e7c7cc;
  color: white;
  border:none;
  border-radius: 50px;
  transition: 0.5s;
}

.form button:hover {
  transform: scale(1.2);
}

.form .message {
  margin: 15px 0 0;
  color: #5a5353;
  font-size: 12px;
}
.form .message a {
  color: #cc2b5e;
  text-decoration: none;
}

/* Register */

.register_page{
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex; */
  justify-content: center;
  user-select: none;
  text-align: center;
  max-width: 400px;
  padding: 4.5% 0 0;
  margin: auto;
}

.register_form{
  align-items: center;
  height: 550px;
  border: rgb(186, 161, 161);
  border-style: double;
  background-color: whitesmoke;
}

.register_form:hover {
  -webkit-box-shadow: 0px 0px 16px 6px rgba(122, 107, 107, 0.87); 
box-shadow: 0px 0px 16px 6px rgba(123, 102, 102, 0.87);
}